/*Estilos Genarales*/
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Color del titulo */
.header-color {
    color: #2168ec;
}

/* Imagen de fondo */
.bg-matica {
    background-image: url('../img/matica.jpg');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-y: 50%;
}
/* contendedor formulario */

/* contenedores de inputs */

/* estilos de botones */

/*Alineacion Formulario*/