/*Estilos Genarales*/
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Color del titulo */
.header-titulo {
    color: #2168ec;
}

/* Imagen de fondo */

/* contendedor formulario */

/* contenedores de inputs */

/* estilos de botones */

/*Alineacion Formulario*/