/*Estilos Genarales*/
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Color del titulo */
.header-color {
    color: #2168ec;
}

/* Imagen de fondo */
.bg-matica {
    background-image: url('../img/matica.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 40%;
}
/* contendedor formulario */

.bg-white {
    background-color: #fff;
}

.form-container {
    padding: 4rem;
    width: 30%; /* tamaño del formulario */
    border-radius: 0.4rem;
    /*display: flex;
    justify-content: center;
    flex-direction: column;*/
}

/* contenedores de inputs */
.input-container {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}

.input-container input {
    border-radius: 0.4rem;
    border: solid 0.1rem gray;
    padding: 0.4rem;
    margin-top: 0.2rem;
}

.checkbox-container {
    margin-top: 0.5rem;
}

/* estilos de botones */
.btn-login-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.btn-login-container button {
    padding: 0.7rem;
    background-color: #2168ec;
    border: 0;
    border-radius: 0.2rem;
    color: #fff;
    transition: background-color 0.5s;
    transition: padding 0.5s;
}

.btn-login-container button:hover {
    background-color: green;
    padding: 1rem;
}

/*Alineacion Formulario*/
.screen-form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}